# Database Configuration
# If SUPABASE_DB_URL is missing, the project will default to a local SQLite database (db.sqlite3)
SUPABASE_DB_URL=

# Cloudinary Configuration (For Media/Videos)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Supabase Storage Configuration (via S3 Compatibility)
SUPABASE_S3_ACCESS_KEY=
SUPABASE_S3_SECRET_KEY=
SUPABASE_S3_BUCKET=
SUPABASE_S3_ENDPOINT=

# Celery Configuration
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Email Configuration
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
