@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: theme('colors.base');
    color: theme('colors.content');
    @apply antialiased min-h-screen;
    background-image:
      radial-gradient(circle at top right, rgba(93, 109, 255, 0.05) 0%, transparent 40%),
      radial-gradient(circle at bottom left, rgba(99, 102, 241, 0.05) 0%, transparent 40%);
  }
}

@layer utilities {
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}